
pythagoras/.classpath
DayFinder/DayFinder/.vscode/settings.json
.vscode/settings.json
DayFinder/DayFinder/README.md
.vscode/settings.json
.vscode/settings.json
.vscode/settings.json
PersonalityTest/PersonalityTest/src/PersonalityTest.java
